---
---

<header id="header">
  <div class="icon">
    <img src="/assets/logo/logo.png" alt="logo" class="center">
  </div>
  <div class="content">
    <div class="inner">
      <h1>V2_arK</h1>
      <p>This is a personal website.</p>
    </div>
  </div>
  <nav>
    <ul>
      <li><a href="#learn">Learning</a></li>
      <li><a href="#photo">Photo</a></li>
      <li><a href="#music">Music</a></li>
      <li><a href="#about">About</a></li>
    </ul>
  </nav>
</header>