<!DOCTYPE HTML>
{{ generated_marker }}

<html>

<head>
	<title>{{ site_title }} Gallery</title>
	<meta charset="utf-8" />
	<meta name="description" content="{{ site_description }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="canonical" href="{{ gallery_url }}" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" />
	</noscript>

	<!-- Including Lightbox plugin -->
	<link rel="stylesheet" href="assets/lightbox/css/lightbox.min.css" />

	<!-- Including Lightbox plugin -->
	<script src="assets/lightbox/js/lightbox-plus-jquery.min.js"></script>


</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<div class="content">
				<div class="inner">
					<h1>Gallery</h1>
				</div>

			</div>
		</header>

		<div class="masonry-wrapper">
			<div class="masonry">

{{ gallery_items }}

			</div>
		</div>

		<div class="field">
			<a href="index.html" class="button">Back</a>
		</div>

		<!-- Footer -->
		<footer id="footer">
			<p class="copyright">&copy; 2026 Honglin Cao. All rights reserved.</p>
		</footer>

	</div>

	<!-- BG -->
	<div id="bg"></div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>
